<% if flights.any? %>
  <h2><%= flights.count %> flights were found!</h2>

  <% flights.each do |flight| %>
    <%= render partial: "flight_card", locals: { flight:, passengers_count: } %>
  <% end %>
<% else %>
  <h2>No flights were found! Try another search.</h2>
<% end %>