<h1>Create a new booking</h1>

<%= render partial: "booking_information",
           locals: {
             booking: @booking,
             passengers_count: @passengers_count,
             flight: @flight
           }
%>

<% if @booking.errors.any? %>
  <h3>The following is preventing this booking creation:</h3>
  <% @booking.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= render partial: "form", locals: { booking: @booking } %>