<h1>Create a new booking</h1>

<%= render partial: "booking_information",
           locals: {
             booking: @booking,
             passengers_count: @passengers_count,
             flight: @flight
           }
%>

<%= render partial: "shared/form_error_preview", locals: { model: @booking } %>

<%= render partial: "form", locals: { booking: @booking } %>