<h1>Booking</h1>

<h2>Details:</h2>

<p>Passengers on this booking: <%= @booking.passengers.count %></p>
<p>Total price of the flight: <%= @booking.flight.price %></p>
<p>Total paid: <%= @booking.total_paid %></p>
<p>Booking status: <%= @booking.status %></p>