<% if model.errors.any? %>
  <div class="error-preview">
    <h3>The following is preventing this action:</h3>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>